.main-spinner .spinner{
  width: 4rem;
  height: 4rem;
}
.App{
  min-height: calc(100vh - 40px);
}
.content-page{
  background-color: #f1f1f1;
  overflow-y: auto;
  height: 100%;
}
.main-container{
  height: calc(100vh - 106px);
}

