.settings-form .bot-img{
  max-width: 100%;
  width: 300px;
}
.settings-form .chrome-picker {
  width: 100% !important;
}
.chrome-picker > div:last-child > .flexbox-fix:first-child > div:last-child > div:last-child{
  display: none !important;
}